<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li>voteclustering (v.0.5.1) maintained by AIST has been moved to <a href='https://aistairc.github.io/prom-vc/'>here</a></li>
<!--             <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}</a></li> -->
          </ul>
          <ul>
            <li>This website is maintained by <a href="https://tatsuro-kawamoto.github.io/">Tatsuro Kawamoto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>